
h2{font:35px verdana,
	 geneva, 
	 sans-serif;
	 color:#999; 
	 text-align: 
	 center; 
	 margin: 8px auto;}
	 
form {border:2px solid #CCC; 
	float:left; 
	padding:12px; 
	margin-left:600px;
    margin-top:5px; 
	font:16px verdana,
	geneva,
	sans-serif;
	color:#999; 
	font-size: 17px;}

form .btn{width:150px; 
	cursor:pointer; 
	font-size: 20px;}

.create-box{
	border: 10px dashed #FEFEFE;
	max-width: 550px;
	min-height: 88px;
	text-align: center;
	margin: auto;
}
.create-box form{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.create-box form input{
	display: block;
	margin: 3px auto;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #43A8C7;
}
body {
	background-color: #FEFEFE;
  }
  
